<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
    {{!-- datatables plugin --}}
    {{!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> --}}
    <title>Portal De Deportes</title>
</head>
<body> 
    <audio preload="auto" autoplay>
    <source src="http://deportes.creacionvirtual.com:4000/public/assets/audio.mp3"  type="audio/mpeg" />
    Lo que pongas aquí se muestra si el navegador no soporta la etiqueta audio. 
</audio> 
    <header>
        <nav> 
            <a class="logo" href="/">InPlay Sports</a>
            <a href="/">Home</a>
            <a href="/equipos"> Equipos</a>
            <a href="/noticias"> Noticias</a>  
            <a href="/graficas"> Graficos</a>  
            <div class="right">
                 <a class="login" href="/login" class=""></a> 
            </div>  
        </nav>
    </header>
    <script src="{{url}}/public/lib/jquery/dist/jquery.js"></script>
{{!-- Aqui se mostraran las demas vistas --}}
    {{{body}}}
     <footer>
       Marlyn Elismar Pimentel (2017-0077)   &   junior jeramer polanco silvestre (2017-0319)  
     </footer>
    <script src="{{url}}/public/js/main.js"></script> 
</body>
</html>