<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Portal De Deportes</title>
</head>
<body>
    <!-- E2 - Portal de deportes

Diseñar un portal de deportes que contenga las secciones necesarias basado en la plantilla especificada
en la pizarra en la última clase. Esta debe contener título; imagen cabecera o banner; una barra lateral;
pie de página; una tabla donde se desglose las estadísticas de los jugadores (los datos pueden ser fijos);
y cualquier otra sección que le desee agregar.
\

 -->
    <header>
        <nav>
            <a class="logo" href="#" class=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgM7pYJo01Og_HPw-n4fKQ3feL0QitbLLREoX9BF_rZwuujO1d" alt="LOGO"></a>
            <a href="/">Home</a>
            <a href="Equipos"> Equipos</a>
             <a href="Noticias"> Noticias</a>   
        </nav>
        <div class="titulo"><label for="">Revista Inplay</label></div>
        </div>
        <div class="Login">
            <a class="logo" href="account" class=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIVDPEEYwoJlVweWxdmurlgLkK6yEzj2QHGTg0fMISao5WCqIC4A" alt="LOGO"></a>
        </div>
        <div class="imglogo">
            <a class="logo" href="#" class=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIP15X3ewboS274HXBLZllpBpa4d0fAxa_4H9Wx02COHKuaVBz" alt="LOGO"></a>
        </div>
    </header>
{{!-- Aqui se mostraran las demas vistas --}}
    {{{body}}}
    <div class="footer">
       junior jeramer polanco silvestre | 2017-0319 </br> Marlyn Elismar Pimentel | 2017-0077
    </div>
    <script src="{{url}}/public/js/main.js"></script>
</body>
</html>