<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
    {{!-- datatables plugin --}}
    {{!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> --}}
    <title>Portal De Deportes</title>
</head>
<body> 
     {{!-- <header>
        <nav>
             <div class="left">
                <div class="imglogo">
                    <a class="" href="/" class=""><img src="public/imgs/logo.png" alt="logo"></a>
                </div>
            </div> 
            <div>
            <span class="titulo">Inplay Sports
                <a class="logo right" href="/login" class=""><img src="public/imgs/login.png" alt="login"></a>
            </span>
            </div>
             <div class="nav">
                <a href="/">Home</a>
                <a href="/equipos"> Equipos</a>
                <a href="/noticias"> Noticias</a> 
             </div> 
            
        </nav>
        
        </div> 
    </header>  --}}
    <header>
        <nav> 
            <a class="logo" href="/">InPlay Sports</a>
            <a href="/">Home</a>
            <a href="/equipos"> Equipos</a>
            <a href="/noticias"> Noticias</a>  
            <div class="right">
                 <a class="login" href="/login" class=""></a> 
            </div>  
        </nav>
    </header>
{{!-- Aqui se mostraran las demas vistas --}}
    {{{body}}}
     <footer>
       Marlyn Elismar Pimentel (2017-0077)   &   junior jeramer polanco silvestre (2017-0319)  
     </footer>
    <script src="{{url}}/public/lib/jquery/dist/jquery.js"></script>
    <script src="{{url}}/public/js/main.js"></script>
    {{!-- datatables js --}}
    {{!-- <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> --}}
    {{!-- Se aplicara a todas los elementos con clase 'equipos' --}}
    {{!-- <script>
        $(document).ready( function () {
        $('.equipos').DataTable();
    });
    </script> --}}
</body>
</html>