<aside class="aside" style="color: white; font-size: 1.3em; text-align: center  ">
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, molestiae. Dolorem maxime delectus dolore id voluptatibus placeat eum quia, et cupiditate tempore explicabo nobis, iure sed minima nihil distinctio possimus.</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, molestiae. Dolorem maxime delectus dolore id voluptatibus placeat eum quia, et cupiditate tempore explicabo nobis, iure sed minima nihil distinctio possimus.</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, molestiae. Dolorem maxime delectus dolore id voluptatibus placeat eum quia, et cupiditate tempore explicabo nobis, iure sed minima nihil distinctio possimus.</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, molestiae. Dolorem maxime delectus dolore id voluptatibus placeat eum quia, et cupiditate tempore explicabo nobis, iure sed minima nihil distinctio possimus.</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, molestiae. Dolorem maxime delectus dolore id voluptatibus placeat eum quia, et cupiditate tempore explicabo nobis, iure sed minima nihil distinctio possimus.</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, molestiae. Dolorem maxime delectus dolore id voluptatibus placeat eum quia, et cupiditate tempore explicabo nobis, iure sed minima nihil distinctio possimus.</p>
  </aside>