<div class="container">
    <table class="adminedit">
        <thead>
            <tr>
                <th>Conferencia</th> 
                <th>Equipo</th> 
                <th>G</th> 
                <th>P</th> 
                <th>Ptc</th> 
                <th>PDL</th> 
                <th>Rach</th>
                <th>Acciones</th>
            </tr>
        </thead>
         <tr>
           <td>Conferencia Este</td> 
           <td>Bucks</td>
           <td>44</td>
           <td>14</td>
           <td>.759</td>
           <td>-</td>
           <td>W3</td>
            <td><input class="editar"  type="submit" value="Editar"> <input class="borrar"  type="submit" value="Borrar"> </td> 
          
        </tr>
         <tr>
        <td>Conferencia Este</td> 
        <td>Bucks</td>
        <td>44</td>
        <td>14</td>
        <td>.759</td>
        <td>-</td>
        <td>W3</td>
        <td><input class="editar" type="submit" value="Editar"> <input class="borrar" type="submit" value="Borrar"> </td> 
            </tr>
          <tr>
            <td>Conferencia Este</td> 
            <td>Bucks</td>
            <td>44</td>
            <td>14</td>
            <td>.759</td>
            <td>-</td>
            <td>W3</td>
         <td><input class="editar" type="submit" value="Editar"> <input class="borrar"  type="submit" value="Borrar"> </td> 
            </tr>
          <tr>
           <td>Conferencia Este</td> 
           <td>Bucks</td>
           <td>44</td>
           <td>14</td>
           <td>.759</td>
           <td>-</td>
           <td>W3</td>
        <td><input class="editar"  type="submit" value="Editar"> <input class="borrar"  type="submit" value="Borrar"> </td> 
            </tr>
            
    </table>
</div>


<div class="formulario">

<label for="">Team-Form</label> 

<div class="controles">
    <input class="un" type="text" placeholder="Equipo" name="" id="">
    <input class="un" type="text" placeholder="G" name="" id="">
    <input class="un" type="text" placeholder="P" name="" id="">
    <input class="un" type="text" placeholder="PTC" name="" id="">
    <input class="un" type="text" placeholder="PDL" name="" id="">
    <input class="un" type="text" placeholder="RACH" name="" id="">
    <input class="editar"  type="submit" value="Insertar">
</div>

<div class="radiobtn">
    <label class="ubi">
    <input  type="radio" name="" id="" value="Confeste">Conferencia Este
    </label>
    <label class="ubica">
    <input type="radio" name="" id="" value="Confoeste">Conferencia Oeste
    </label>
</div>

</div>


