 <script src="https://d3js.org/d3.v5.min.js"></script>
 <script src="grafica.js"></script>
<link rel="stylesheet" href="{{url}}/public/css/graficas.css">
<h1>Juegos Ganados Por Equipos</h1>
<svg></svg>
