<div class="slider">
			<ul>
				<li>
  <img src="http://www.mustafasevindik.com/wp-content/uploads/2018/07/la-lakers-a-transfer-olan-lebron-james-in-bir-dakikalik-gelirini-kazanmak-icin-maasiniz-ne-kadar-olmali-700x300.jpg" alt="">
 </li>
				<li>
  <img src="https://s2.glbimg.com/Y7KSnmiPlrHUdzgAo0x4SZINKXo=/700x300/i.glbimg.com/og/ig/infoglobo1/f/original/2018/12/20/80297545_dec_13_2018_houston_tx_usa_houston_rockets_guard_james_harden_13_celebrates_with_guard.jpg" alt="">
</li>
				<li>
  <img src="https://leskopkids.com/wp-content/uploads/2018/04/2021747_nba_269-700x300.jpg" alt="">
</li>
				<li>
  <img src="https://img.nike.com.hk/resources/mobileTemplate/mobileProductsWallKvModule/20180302113329.jpg" alt="">
</li>
			</ul>
		</div>

 <div class="junior">
   <label for="">Mejores Jugadas</label>
 </div>





     <div class="video1">   
    <iframe width="800" height="400"  src="https://www.youtube.com/embed/BxiX6zjzRdk" frameborder="0"
 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video2">
    <iframe width="800" height="400" src="https://www.youtube.com/embed/mUoyJlNcNzc" frameborder="0"
 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

     <div class="video3">   
    <iframe width="800" height="400" src="https://www.youtube.com/embed/LEP8ie8osy0" frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
         