<link rel="stylesheet" href="{{url}}/public/css/login.css">

<div class="clear container">
  <div class="formulogin">
    <div class="opacity">
       <p class="sign" align="center">Login</p> 
      <form id="login-form" class="form1">
        <input name="email" class="" type="text" align="center" placeholder="Username">
        <input name="pass" class="" type="password" align="center" placeholder="Password">
        <a class="submit" align="center" onclick="login()">Sign in</a>  
      </form>
    </div> 
  </div>
</div>