<link rel="stylesheet" href="{{url}}/public/css/noticias.css">

<audio preload="auto" autoplay>
    <source src="http://localhost:4000/public/assets/audio.mp3"  type="audio/mpeg" />
    Lo que pongas aquí se muestra si el navegador no soporta la etiqueta audio. 
</audio>

<div class="container">
    <div class="section-left">
        <div class="article">
    <h2>Draymond Green deja duelo vs. Rockets por lesión en tobillo</h2>
    <img src="https://bollytrip.com/wp-content/uploads/2018/12/stephen-curry-golden-state-warriors-wallpaper-lovely-golden-state-warriors-wallpapers-hd-of-stephen-curry-golden-state-warriors-wallpaper.jpg" alt="">
        <p>
            Pese a que ya no regresó al partido ante Houston, Draymond Green y </br>
        los Warriors confían en que la dolencia que sufrio en el tobillo no es seria.     
        </p>
        <p>
            La lesión se presentó con 8:56 por jugar en el cuarto periodo, luego de caer</br>
            de forma descompuesta sobre el pie de su compañero DeMarcus Cousins.</br>
            Green cojeó cuando iba hacia la banca de los Warriors y se mantuvo en el piso </br>
            por varios segundos, mientras era revisado por los doctores del equipo.

        </br>Eventualmente, Green pudo llegar al vestidor seguido por el doctor Rick Celebrino, </br>
            director de medicina deportiva y desempeño de los Warriors.
        </p> 
</div>

<div class="article">
    <h2>Dwyane Wade se resiste al retiro; jugará otro año en Miami Heat</h2>
    <img src="https://images1.miaminewtimes.com/imager/u/original/10886852/miami-heat-dwyane-wade-vice-city-jersey.jpg" alt="">
    <p>
      "Es lo correcto. Les pido que me acompañen a un último baile". <br>
      Una última noche. Una última temporada. 
    </p>
    <p> 
    Así ha anunciado Dwyane Wade que seguirá en la NBA por un año más,<br>
     su décimosexto curso en la liga desde su debut en 2003 con Miami Heat,el <br>
     equipo de sus amores, la ciudad a la que volvió a media temporada de 2018 <br>
     después de dos excursiones erráticas en Chicago y Cleveland. Y será en Florida,<br>
     cobijado por la afición que se ha entregado en cuerpo y alma a él, y con los <br>
      colores del Heat, donde Wade finalizará su carrera de tres campeonatos, 12 <br>
      apariciones en el NBA All-Star y una medalla olímpica. El último tango de Dwyane Wade.  
    </p>    
</div>
    </div>

    {{>aside}}
</div>