<div class="container"> 
        <h1>Estadisticas De Jugadores</h1> 
        <hr>
        <br>
        <section>
            <table id="myTable">
                    
                    <thead>
                        <th>JUGADOR</th>
                        <th>POS</th>
                        <th>AVG</th>
                        <th>HR</th>
                        <th>RBI</th>
                    </thead>
                    <tbody>
                        <tr>
                        <tr>
                            <td>Darius</td>
                            <td>6434</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Ray</td>
                            <td>9645</td>
                            <td>9</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Kyle</td>
                            <td>1861</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Aidan</td>
                            <td>9927</td>
                            <td>8</td>
                            <td>8</td>
                            <td>8</td>
                        </tr>
                        <!-- <tr>
                            <td>Tyrone</td>
                            <td>7267</td>
                            <td>6</td>
                            <td>6</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Otto</td>
                            <td>5558</td>
                            <td>6</td>
                            <td>6</td>
                            <td>6</td>
                        </tr>
                        <tr>
                        <tr>
                            <td>Lewis</td>
                            <td>6726</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Jasper</td>
                            <td>5007</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Valentine</td>
                            <td>8088</td>
                            <td>8</td>
                            <td>8</td>
                            <td>8</td>
                        </tr> -->
                        <tr>
                            <td>Abdul</td>
                            <td>4134</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Odysseus</td>
                            <td>2892</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Dalton</td>
                            <td>1690</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Fulton</td>
                            <td>1899</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>
        </section>
        <aside>
            <div>
                <h2>Lideres</h2>
               <table>
                   <thead>
                       <th>JUGADOR</th>
                       <th>POS</th>
                   </thead>
                   <tbody>
                        <tr>
                            <td>Lebron James </td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Cristiano Ronaldo</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Principe Rosa</td>
                            <td>1</td>
                        </tr>
                   </tbody>
               </table>
            </div>
            <div>
                <br><br>
                <h2>Reacciones</h2>
                <ul class="feeds-container">
                    <li class="feed">
                        <a href="#">
                            <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                            <label>Saw Polanco</label> 
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                    </li>
                    <li class="feed">
                        <a href="#">
                            <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                            <label>Bob Marlie</label> 
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                    </li>
                    <li class="feed">
                            <a href="#">
                                <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                                <label>Mateh Elismar</label> 
                            </a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                        </li>
                        <li class="feed">
                            <a href="#">
                                <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                                <label>M Franco</label> 
                            </a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                        </li>
                        <li class="feed">
                            <a href="#">
                                <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                                <label>Mr Melendez</label> 
                            </a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                        </li>
                        
                </ul>
            </div>
        </aside>
</div>