<div class="container">
    <table class="equipos">
        <thead>
            <tr>
                <th>Conferencia</th> 
                <th>Equipo</th> 
                <th>G</th> 
                <th>P</th> 
                <th>Ptc</th> 
                <th>PDL</th> 
                <th>Rach</th>
            </tr>
        </thead>
         <tr>
           <td>Conferencia Este</td> 
           <td>Bucks</td>
           <td>44</td>
           <td>14</td>
           <td>.759</td>
           <td>-</td>
           <td>W3</td>
        </tr>
         <tr>
        <td>Conferencia Este</td> 
        <td>Bucks</td>
        <td>44</td>
        <td>14</td>
        <td>.759</td>
        <td>-</td>
        <td>W3</td>
            </tr>
          <tr>
            <td>Conferencia Este</td> 
            <td>Bucks</td>
            <td>44</td>
            <td>14</td>
            <td>.759</td>
            <td>-</td>
            <td>W3</td>
            </tr>
          <tr>
           <td>Conferencia Este</td> 
           <td>Bucks</td>
           <td>44</td>
           <td>14</td>
           <td>.759</td>
           <td>-</td>
           <td>W3</td>
            </tr>
    </table>
</div>