/*stilos admin*/


.Acciones{
    display: inline-block;
    width: 180px;
}

.Acciones a{
    display: inline;
    text-decoration: none;
    padding: 7px 5px; 
    /* font-size: 20px; */
    color: #ffffff;
    background-color: #369681;
    border-radius: 6px; 
}

.Acciones a.borrar{
    background: rgb(184, 52, 52);
}

.Acciones a:hover{
    color: #369681;
    background-color:#0f362D;
  }

.Acciones a.borrar:hover{ 
    color: white;
    background-color:red;
}

/* .editar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #369681;
    border-radius: 6px;
    border: 2px solid white;
  }
  .editar:hover{
    color: #369681;
    background-color:#0f362D;
  }

  .borrar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #369681;
    border-radius: 6px;
    border: 2px solid white;
  }
  .borrar:hover{
    color: #369681;
    background-color: #0f362D;
  } */
  
  .formulario label{
      color: white;
      font-size: 40px;
      
  }

  .equipos{
    width: 60%; 
}

.formulario{ 
    width: 30%;
    position: relative;
    color: #ccc;
    padding: 14px;
    border: 4px solid rgb(59, 61, 59);
    margin-bottom: 55px;
    background: rgb(56, 58, 57); 

}
  
.radiobtn label{
    background-color: transparent;
    font-size: 20px;
}