/*Stilos del formulario login*/

.formulogin{
    position: relative;
    left:230px ;
    bottom:150px ;
}

.formulogin img{
   opacity: 0.4;
   border-radius: 20px;
}




.main {
    background-color: #FFFFFF;
    color: white;
    width: 400px;
    height: 50px;
    margin: 7em auto;
    border-radius: 2px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    position: relative;
    bottom:550px ;
    right:250px ;
    background-color: transparent;

}

.sign {
    padding-top: 40px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: transparent;
    position: relative;
    bottom: 40px;
}



form.form1 {
    padding-top: 40px;
    
}

.pass {
        width: 76%;
        
color: rgb(38, 50, 56);
font-weight: 600;
font-size: 16px;
letter-spacing: 1px;
background: black;
padding: 10px 20px;
border: none;
border-radius: 15px;
outline: none;
box-sizing: border-box;
border: 2px solid white;
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
top:10px;
}


.submit {
  cursor: pointer;
    border-radius: 10px;
    color: #fff;
    background: #0f362D;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 33%;
    font-size: 15px;
    box-shadow: 0 0 20px 1px white;
    position: relative;
    top:30px;
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}