
.formulogin{ 
    background: url(/public/imgs/bg-login.jpg);
    width: 300px;
    height: 250px;
    border: 2px solid white;
    background-position: center center;
    margin:  0px auto 100px auto; 
}  
        
.sign { 
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
} 

.opacity{
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255); */
}
        /*
.main {
    background-color: #FFFFFF;
    color: white;
    width: 400px;
    height: 50px;
    margin: 7em auto;
    border-radius: 2px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14); 
    background-color: transparent; 

 } 




.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
} */