@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0px;
    padding: 0px; 
    font-family: 'Raleway', sans-serif;
    background-color:#201E1D; 
    position: relative;
    box-sizing: border-box;
}


.titulo label {
    color:#c46b6b;
    background-color: white; 
    position: relative;
    bottom: 170px;
    left: 405px;
    font-family: inherit ;
    font-size:70px ;
    
}

nav{
    width: 100%;
    height: 180px;
    background-color:white;
  
}
tr{
    cursor:copy;
}

a{
    text-decoration: none;
}

nav a{
    display: block;
    background: red;
    color: rgb(207, 191, 191);
    margin: 5px 4px;
    padding: 15px;
    float: left;
    border-radius: 34px;
    background:  black;
    position: relative;
    left:410px ;
    top:120px ;
}

nav a:hover{
    text-align: center;
    color: white;  
    width: 115px;
    height: 50px; 
}

.logo{
    background: transparent !important;
    margin: 0px; 
}

.logo:hover{
    width: 60px;
    height: 0px;
}

.logo img{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
}

.Login img{
    width: 45px;
    height: 45px;
    border: 2px solid #aa6c6c;
    border-radius: 50%;
    position: relative;
    bottom:250px ;
    left:1180px ;
}

.imglogo img{
    width: 100px;
    height: 160px;
    border: 2px solid black;
    border-radius: 10%;
    position: relative;
    bottom: 300px;
    left:130px ;
    background-color: white;
}

.container{
    width: 90%;

    margin: 30px auto; 
}

section{
    float: left;  
    width: 60%;
    margin-bottom: 30px;
}

aside{
    float:right;
    width: 30%;
    margin-bottom: 70px;
}

.footer{
    clear: both;  
    position: relative;
    padding:  10px 30px;
    height: 50px;
    width: 100%;
    bottom: 0px;
    background:white;
}

.feeds-container{
    margin-top: 5px; 
    padding: 4px; 
    list-style-type: none;
    border-radius: 10px;
    border: solid 2px #cccccc;
}

.feed{
    padding: 4px 10px; 
    border-bottom: 1px solid rgb(134, 22, 22);
}


.feeds-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.feeds-container label{
    display: inline-block;
    color : rgb(134, 22, 22);
    font-size: 1em;
    padding: 15px 10px;
}

.feeds-container p{
    text-align: justify;
    clear: left;
    color: black;
}

/*Stilos del slaider automatico*/

.slider {
	width: 80%;
	margin: auto;
    overflow: hidden;
    position: relative;
    bottom: 260px;
    
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.video1{
    position: relative;
  top: 80px;
    left:130px ;
}

.video2{
    position: relative;
 padding-top: 15px;
    left:130px ;
}

.video3{
    position: relative;
    padding-top: 15px;
    left:130px ;
}

/*Stilos de la tabla*/
.equipos{
    background-color: white;
    position: relative;
    bottom: 370px;
    margin: 150px auto;
    width:900px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
table{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th,td{
    padding: 20px;
}
thead{
    background-color: #246355;
    border-bottom: solid 5px #0f362D;
    color:rgb(108, 209, 176);
}

tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
}