 
.article img{
    width:750px ;
    height:400px ; 
    opacity:0.6 ;
    border-radius:15px ;
    }

.article h2{ 
    color: white;
}

.article p{ 
    color: white;
    font-size: 20px;
}


.articulo p{
    position: relative;
    right:1300px ;
    
}

article h3{
    position: relative;
    right:700px ;
    
}

audio{
    margin-top: 15px;
    margin-left: 60px;
    width: 750px;
}